@charset "utf-8";
/*
Em html é id em css #
Em Html class  em CSS é .
*/

body{
    background-color: rgb(67, 184, 67);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
    background-color: white;
}

h1#principal{
    color: blue;text-align: center;
}
h1{
    color: rgb(0, 94, 39);
}
h2{
    color:  rgb(0, 94, 39);
}

.basico{
    color: rgb(0, 255, 0);
   
}

.intermediario{
    color: rgb(85, 85, 16);}

.avancado{ color: brown;}

