@charset "utf-8";

{ 
    height:100%
}
body{
    background-image: linear-gradient(to left,#13678A,#012030);
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin:auto
}

h1{ color: #45C4B0;
    text-align: center;
    text-shadow: 1px 1px 3px black;

}

h2{
    color:#012030 ;
}

p{ text-align: justify;
}